# Python Assignment - 1

### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [1]:
#int, float, String, boolean

In [ ]:
# Integer
my_integer = 42

# Float (decimal number)
my_float = 3.14

# String (text)
my_string = "Hello, World!"

# Boolean (True or False)
my_boolean = True

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [ ]:
# Integer
my_integer = 42
print("my_integer:", my_integer)

In [ ]:
# Float (decimal number)
my_float = 3.14
print("my_float:", my_float)

In [ ]:
# String (text)
my_string = "Hello, World!"
print("my_string:", my_string)

In [ ]:
# String (text)
my_string = "Hello, World!"
print("my_string:", my_string)

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [ ]:
# Integer
my_integer = 42
print("Data type of my_integer:", type(my_integer))

In [ ]:
# Float (decimal number)
my_float = 3.14
print("Data type of my_float:", type(my_float))

In [ ]:
# String (text)
my_string = "Hello, World!"
print("Data type of my_string:", type(my_string))

In [ ]:
# Boolean (True or False)
my_boolean = True
print("Data type of my_boolean:", type(my_boolean))

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [2]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [ ]:
# Define variables
num1 = 5
num2 = 2

# Addition
sum_result = num1 + num2
print("Sum:", sum_result)

In [ ]:
# Subtraction
difference_result = num1 - num2
print("Difference:", difference_result)

In [ ]:
# Multiplication
product_result = num1 * num2
print("Product:", product_result)

In [ ]:
# Division
division_result = num1 / num2
print("Division:", division_result)

## Example: Lists

In [3]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [4]:
fruits[0]

'orange'

In [5]:
fruits[1]

'apple'

In [6]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [7]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [8]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [9]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [3]:
friends = ['Aman', 'Khushi','Harsh','Nidhi','Abhishek']
friends[0]

'Aman'

In [4]:
friends[1]

'Khushi'

In [5]:
friends[4]

'Abhishek'

__Exercise 3 b)__ Print your list of names using different ranges

In [42]:

friends = ['Aman', 'Khushi','Harsh','Nidhi','Abhishek']


print("All friends:", friends)


print("First three names:", friends[0:3])


print("Names from index 2 to 5:", friends[2:6])


print("Last two names:", friends[-2:])


print("Every other name starting from index 1:", friends[1::2])

All friends: ['Aman', 'Khushi', 'Harsh', 'Nidhi', 'Abhishek']
First three names: ['Aman', 'Khushi', 'Harsh']
Names from index 2 to 5: ['Harsh', 'Nidhi', 'Abhishek']
Last two names: ['Nidhi', 'Abhishek']
Every other name starting from index 1: ['Khushi', 'Nidhi']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [43]:

friends = ['Aman', 'Khushi','Harsh','Nidhi','Abhishek']


num_friends = len(friends)


print("Number of names in the list:", num_friends)

Number of names in the list: 5

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [9]:
new_name = "Pranjal"
friends.append(new_name)
print("Updated list of friends:", friends)

Updated list of friends: ['Aman', 'Khushi', 'Harsh', 'Nidhi', 'Abhishek', 'Pranjal']

__Exercise 4 c)__ Print the list. Does it look as expected?

In [10]:
print(friends)

['Aman', 'Khushi', 'Harsh', 'Nidhi', 'Abhishek', 'Pranjal']

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [19]:
new_name = "Heta"
position =   2
friends.insert(position, new_name)
print("Updated list of friends:", friends)

Updated list of friends: ['Aman', 'Khushi', 'Heta', 'Heta', 'Heta', 'Heta', 'Heta', 'Heta', 'Harsh', 'Nidhi', 'Abhishek', 'Pranjal']

__Exercise 4 e)__ Print the list. Does it look as expected?

In [15]:
print(friends)

['Aman', 'Khushi', 'Heta', 'Heta', 'Heta', 'Harsh', 'Nidhi', 'Abhishek', 'Pranjal']

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [23]:
name_to_remove = "Heta"
friends.remove(name_to_remove)
print("Updated list of friends:", friends)

Updated list of friends: ['Aman', 'Khushi', 'Heta', 'Heta', 'Heta', 'Harsh', 'Nidhi', 'Abhishek', 'Pranjal']

__Exercise 4 g)__ Print the list. Does it look as expected?

In [24]:
print(friends)

['Aman', 'Khushi', 'Heta', 'Heta', 'Heta', 'Harsh', 'Nidhi', 'Abhishek', 'Pranjal']

# Example: For loops

In [10]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [11]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pears
bananas
kiwis
mangos
grapess

__Exercise 5 a)__ Print each name in your list of names

In [33]:
for name in friends:
    print(name)

Aman
Khushi
Heta
Heta
Heta
Harsh
Nidhi
Abhishek
Pranjal

__Exercise 5 b)__ Add a small change to each name in your list

In [34]:
modified_friends = [name + " (BFF)" for name in friends]
for modified_name in modified_friends:
    print(modified_name)

Aman (BFF)
Khushi (BFF)
Heta (BFF)
Heta (BFF)
Heta (BFF)
Harsh (BFF)
Nidhi (BFF)
Abhishek (BFF)
Pranjal (BFF)

# Example: Dictionaries

In [19]:
countries = {"sweden": "stockholm", "denmark": "copenhagen", "norway": "oslo"}

In [14]:
capital = countries["sweden"]
print(capital)

NameError: name 'countries' is not defined

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [18]:
capital_denmark = countries["denmark"]
capital_norway = countries["norway"]

print("The capital of Denmark is:", capital_denmark)
print("The capital of Norway is:", capital_norway)

The capital of Denmark is: copenhagen
The capital of Norway is: oslo

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [22]:
countries["finland"] = "helsinki"

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

In [21]:
print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'finland': 'helsinki'}

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [24]:

countries['sweden'] = 'malmo'
print(countries)

{'sweden': 'malmo', 'denmark': 'copenhagen', 'norway': 'oslo', 'finland': 'helsinki'}

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

print(countries)

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [30]:
del countries['sweden']
print(countries)

KeyError: 'sweden'

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [31]:
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo', 'finland': 'helsinki'}

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [14]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: sweden, Capital: stockholm
Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [44]:
def add_two_numbers(a, b):
  
  return a + b
result = add_two_numbers(8,9)
print("The addition is:", result)

The addition is: 17

Let's try to use it!

In [ ]:
print("The addition is:", result)

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [37]:
def calculate_difference(num1, num2):
    
    return num1 - num2


result = calculate_difference(5, 5)
print("The difference is:", result)

The difference is: 0

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [39]:
print("The difference is:", result)

The difference is: 0

__Exercise 7 c)__ Create a function that can multiply two numbers

In [40]:
def multiply_numbers(num1, num2):
    
    return num1 * num2

# Example usage:
result = multiply_numbers(8, 4)
print("The product is:", result)

The product is: 32

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [56]:
print("The product is:", result)

The product is: 32

__Exercise 7 e)__ Create a function that can divide two numbers

In [ ]:
def divide_numbers(num1, num2):
    
    return num1 / num2

# Example usage:
result = multiply_numbers(8, 4)
print("The product is:", result)

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [57]:
print("The product is:", result)

The product is: 32